html,
body {
    height: 100vh;
    width: 100vw;
    padding: unset;
    margin: unset;
    font-family: "Noto Serif", "Noto Serif SC", serif;
    font-weight: 500;
    overflow: hidden;
}

:root {
    --theme: #193bb6;
    --font-size: clamp(0.5rem, 2vw, 1.25rem);
}

.hide {
    display: none !important;
    visibility: hidden !important;
}

.menu {
    height: 100vh;
    width: 100vw;
}

.menu > .title {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: var(--theme);
    color: #FFFFFF;
    user-select: none;
}

.title .vertical {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    gap: 12rem;
    /* transform: skew(0, -10deg); */
}

.title .vertical>* {
    font-weight: 100;
}

@keyframes emergeText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title .horizontal {
    z-index: 1;
    opacity: 0;
    width: clamp(15vw, 35%, 40vw); /* 使用clamp实现基于视口宽度的响应式缩放 */
    height: clamp(15vw, 35%, 40vw); /* 使用clamp实现基于视口宽度的响应式缩放 */
    transform: skew(0, 0); /* 去掉后白块变大 */
    animation: 1s emergeText 400ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes spreadIn {
    from {
        width: 0px;
        background: #FFFFFF;
    }

    to {
        width: 100%;
        background: #FFFFFF;
    }
}

@keyframes emergeBack {
    from {
        background-color: var(--theme);
        transform: scale(0.2, 0.2);
    }
    to {
        background-color: #bababa;
        transform: scale(1.2, 1.2);
    }
}

.title .horizontal::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    animation: 1s emergeBack 400ms cubic-bezier(0.23, 1, 0.32, 1) forwards; /* 原动画为上面的 spreadIn，其余参数均不变 */
}

.title .horizontal>.icon {
    margin: 0 1rem 0.5rem 1rem;
    transform: skew(0, 0);
}
.title .horizontal>.icon img {
    width: clamp(15vw, 90%, 40vw); /* 使用clamp实现基于视口宽度的响应式缩放 */
    height: clamp(15vw, 90%, 40vw); /* 使用clamp实现基于视口宽度的响应式缩放 */
}

.button-container { /* 选择.button-container元素（按钮容器，用于包裹多个游戏按钮） */
    z-index: 1;
    bottom: 0px;
    display: flex; /* 启用Flex布局 */
    flex-direction: row; /* 按钮垂直排列 */
    justify-content: center; /* 按钮水平居中 */
    align-items: center; /* 按钮垂直居中 */
    position: absolute; /* 绝对定位 */
    padding: 6vh 8vw; /* 内边距：上下为10%视口高度，左右为10%视口宽度 */
    gap: 1rem; /* 按钮之间的间距为2rem（相对单位，适配不同屏幕） */
    user-select: none; /* 禁止选中容器内内容（防止误选按钮文字） */
}

.button-container .button { /* 选择.button-container下的.button子元素（游戏按钮） */
    display: flex; /* 启用Flex布局 */
    align-items: center; /* 文字在垂直方向居中 */
    justify-content: center; /* 文字在水平方向居中 */
    align-items: center; /* 按钮垂直居中 */
    position: relative; /* 相对定位 */
    cursor: pointer; /* 手型光标 */
    padding: 0.5rem 2rem; /* 统一内边距 */
    width: clamp(10vw, 15vw, 20vw); /* 统一按钮宽度 */
    text-align: center; /* 文本居中对齐 */
    font-family: "Noto Serif", "Noto Serif SC", serif;
    font-size: 1.25rem; /* 基于根元素字体大小 */
    font-weight: 600;
    background: #bababa;
    border: unset;
    color: var(--theme);
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.button-container .button:hover { /* 按钮鼠标悬停状态样式 */
    color: #ffffff; /* 文字颜色变为全局主题色（与背景色互换） */
    background-color: var(--theme);
}

.side {
    position: absolute;
    top: 1rem;
    left: -5px;
    color: #ffffff;
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.05rem;
    /* writing-mode: vertical-rl; */
    user-select: none;
}

@keyframes spreadBg {
    0% {
        background-position: 100%; /* 动画开始时背景位置在100%处 */
    }

    100% {
        background-position: 0%; /* 动画结束时背景位置在0%处 */
    }
}

@keyframes fadeIn {
    from {
        transform: scale(105%, 105%);
        opacity: 1;
    }
    to {
        transform: scale(105%, 105%);
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        transform: scale(105%, 105%);
        opacity: 0;
    }
    to {
        transform: scale(105%, 105%);
        opacity: 1;
    }
}

.transition {
    z-index: 2;
    position: absolute; /* 绝对定位 */
    top: -20vh; /* 距离顶部-20%视口高度（部分超出顶部） */
    left: 0px; /* 距离左侧0像素 */
    height: 140vh; /* 高度为140%视口高度（超出视口） */
    width: 100vw; /* 宽度为100%视口宽度 */
    /* transform: skew(0, -10deg); /* 沿Y轴倾斜-10度（向右倾斜） */
}

.transition.hidden {
    display: none; /* 隐藏元素 */
    visibility: hidden; /* 元素不可见 */
}

.transition > div {
    background: #0e0042;
    height: 25%; /* 高度为父元素的25%（4个子元素刚好填满） */
    width: 100%; /* 宽度为父元素的100% */
}

.transition.fadeIn > div {
    transform: scale(105%, 105%);
    opacity: 1;
}
.transition.fadeOut > div {
    transform: scale(105%, 105%);
    opacity: 0;
}

.transition.fadeIn > div:nth-child(1) {
    animation: 1.2s fadeIn 0.2s cubic-bezier(0.77, 0, 0.23, 1) forwards;
}
.transition.fadeIn > div:nth-child(2) {
    animation: 1.2s fadeIn 0.4s cubic-bezier(0.77, 0, 0.23, 1) forwards;
}
.transition.fadeIn > div:nth-child(3) {
    animation: 1.2s fadeIn 0.6s cubic-bezier(0.77, 0, 0.23, 1) forwards;
}
.transition.fadeIn > div:nth-child(4) {
    animation: 1.2s fadeIn 0.8s cubic-bezier(0.77, 0, 0.23, 1) forwards;
}

.transition.fadeOut > div:nth-child(1) {
    animation: 1.2s fadeOut 0.2s cubic-bezier(0.23, 1, 0.77, 1) forwards;
}
.transition.fadeOut > div:nth-child(2) {
    animation: 1.2s fadeOut 0.4s cubic-bezier(0.23, 1, 0.77, 1) forwards;
}
.transition.fadeOut > div:nth-child(3) {
    animation: 1.2s fadeOut 0.6s cubic-bezier(0.23, 1, 0.77, 1) forwards;
}
.transition.fadeOut > div:nth-child(4) {
    animation: 1.2s fadeOut 0.8s cubic-bezier(0.23, 1, 0.77, 1) forwards;
}

.save, .achievementDisp {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    background-color: var(--theme);
}

.achievementDisp {
    justify-content: start;
    padding: 5vh 10vw;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    --offsetY: 0px;
}

.save > .save-container,
.achievementDisp > .achievement-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    user-select: none;
    transform: skew(0, 0deg); /* 去除倾斜 */
}

.achievementDisp > .achievement-container {
    flex-direction: row;
    gap: 4rem;
    position: relative;
    top: var(--offsetY)
}

.save-container > .title,
.achievement-container > .title {
    font-size: 5rem;
    font-weight: 100;
    flex-shrink: 0;
}

.save-container > .list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.achievement-container > .list {
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.save-container > .list > .list-item,
.achievement-container > .list > .list-item {
    padding: 0.5rem 5rem 0.5rem 2rem;
    text-align: center;
    font-family: "Noto Serif", "Noto Serif SC", serif;
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--theme);
    border: unset;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.achievement-container > .list > .list-item {
    flex-direction: column;
    align-items: start;
    min-width: 250px;
    box-sizing: border-box;
}

.achievement-container>.list>.list-item > div {
    text-align: start;
}

.achievement-container > .list > .list-item > .desc {
    font-weight: 400;
    font-size: 0.8rem;
}

.save-container .list-item::before,
.achievement-container .list-item::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.25rem;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #ffffff;
}

.save-container .list-item:hover,
.achievement-container .list-item:hover {
    color: var(--theme);
    background-color: #ffffff;
}

.achievement-button {
    display: flex; /* 启用Flex布局 */
    align-items: center; /* 文字在垂直方向居中 */
    justify-content: center; /* 文字在水平方向居中 */
    align-items: center; /* 按钮垂直居中 */
    position: absolute;
    bottom: clamp(10vh, 10vh, 15vh);
    right: clamp(10vh, 10vh, 15vh);
    cursor: pointer; /* 手型光标 */
    padding: 0.5rem 2rem; /* 统一内边距 */
    width: clamp(10vw, 15vw, 20vw); /* 统一按钮宽度 */
    text-align: center; /* 文本居中对齐 */
    font-family: "Noto Serif", "Noto Serif SC", serif;
    font-size: 1.25rem; /* 基于根元素字体大小 */
    font-weight: 600;
    background: #bababa;
    border: unset;
    color: var(--theme);
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.achievement-button:hover {
    background-color: var(--theme);
    color: #ffffff;
}

.save-container > .button {
    display: none;
    visibility: hidden;
}

.cursor-follower {
    position: absolute;
    z-index: 9999; /* 确保位于最上层 */
    border-radius: 10px; /* 圆角矩形框 */
    opacity: 0.8;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff; /* 空心边框 */
    background: transparent;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.cursor-follower .cursor-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s cubic-bezier(0.77, 0, 0.23, 1);
}

.cursor-follower .cursor-inner.active {
    transform: translate(-50%, -50%) scale(3);
}
